*,
*::before,
*::after {
    box-sizing: border-box;
}

mat-form-field {
    width: 100%;
}

::ng-deep .mat-mdc-button-disabled {
    opacity: 70% !important;
}

select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid #777;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    margin-bottom: 10px;
}

.translate-button {
    background-color: var(--accent-color);
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    border-color: var(--accent-color);
    padding: 5px;
    text-align: center;
    width: 100%;
}

.error-box {
    border: solid rgb(255, 25, 0) 2px;
    background-color: #ff7162;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    font-weight: 650;
}

.translator-label {
    color: #667;
    font-size: 0.8rem;
    padding-bottom: 5px;
}