<mat-card *ngIf="vm$ | async as vm" style="margin: 5px; padding: 5px;">
    <div class="translator-label">
        Translator: {{ vm.settings.translator | translator }}
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="select">
            <select [value]="vm.source" #s (change)="sourceSubject.next(s.value)">
                <option *ngIf="vm.languages && vm.languages.length > 0" style="display:none"></option>
                <option *ngFor="let lang of vm.languages" [value]="lang.code">
                    {{ lang.name }}
                </option>
            </select>
        </div>
        <div class="select">
            <select [value]="vm.target" #t (change)="targetSubject.next(t.value)">
                <option *ngIf="vm.targetLangs && vm.targetLangs.length > 0" style="display:none"></option>
                <option *ngFor="let lang of vm.targetLangs" [value]="lang.code">
                    {{ lang.name }}
                </option>
            </select>
        </div>
    </div>
    <div *ngIf="!(vm.settings.translator === translator.LIBRETRANSLATE && !vm.settings.libreTranslateUrl)"
        fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field appearance="outline">
            <textarea #inputText matInput minRows="5"
                (input)="this.textToTranslateSubject.next(inputText.value)"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <textarea matInput minRows="5" readonly="true"
                style="caret-color: transparent;">{{ vm.translation }}</textarea>
        </mat-form-field>
        <button mat-button class="translate-button" (click)="translateSubject.next()"
            [disabled]="!(vm.source || vm.target || vm.textToTranslate)">
            Translate
        </button>
    </div>
    <div *ngIf="vm.settings.translator === translator.LIBRETRANSLATE && !vm.settings.libreTranslateUrl"
        class="error-box">
        LibreTranslate requires a URL to be provided to function, but none was found.
    </div>
    <div *ngIf="vm.error" class="error-box" style="margin-top: 5px;">{{ vm.error }}</div>
</mat-card>