<div *ngIf="vm$ | async as vm">
    <div class="card">
        <mat-label style="padding-bottom: 0 !important;">Translators</mat-label>
        <mat-radio-group fxLayout="column" (ngModelChange)="selectedTranslatorSubject.next($event)"
            [(ngModel)]="vm.selectedTranslator">
            <mat-radio-button value="apertium">Apertium</mat-radio-button>
            <mat-radio-button value="libretranslate">LibreTranslate</mat-radio-button>
            <mat-radio-button value="google">Google (Unofficial)</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="card">
        <mat-label>LibreTranslate Settings</mat-label>
        <mat-form-field appearance="outline">
            <mat-label>URL</mat-label>
            <input matInput #url type="text" [disabled]="vm.selectedTranslator !== 'libretranslate'"
                [value]="vm.libreTranslateUrl" (input)="libreTranslateUrlSubject.next(url.value)">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Key (Optional)</mat-label>
            <input matInput #key type="text" [disabled]="vm.selectedTranslator !== 'libretranslate'"
                [value]="vm.libreTranslateKey" (input)="libreTranslateKeySubject.next(key.value)">
        </mat-form-field>
    </div>
    <div class="card">
        <mat-label>Data</mat-label>
        <div fxLayout="column" fxLayoutGap="10px">
            <button mat-button (click)="importClickTrigger.next()">
                Import History
            </button>
            <button mat-button (click)="exportDataSubject.next()">
                Export History
            </button>
            <button mat-button class="delete-button" (click)="deleteAllSubject.next()">
                Delete History
            </button>
        </div>
    </div>

    <input type="file" style="display: none;" accept="application/json" multiple="false"
        (change)="importDataSubject.next($event)" id="fileupload">
</div>

<dialog #confirmationdialog>
    <div id="title" class="title"></div>
    <div id="message" class="message"></div>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
        <button id="cancel" class="button close" mat-button>Cancel</button>
        <button id="accept" class="button" mat-button>OK</button>
    </mat-dialog-actions>
</dialog>

<ng-template *ngIf="triggers$ | async"></ng-template>