mat-card mat-label {
    font-weight: 550;
    padding-bottom: 10px;
}

mat-card {
    margin: 5px;
    padding: 5px;
}

::ng-deep .mdc-radio {
    color: var(--accent-color);
}

button {
    background-color: var(--accent-color);
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    border-color: var(--accent-color);
    padding: 5px;
    text-align: center;
}

::ng-deep .mdc-button__label {
    color: #fff;
}

.delete-button {
    background-color: var(--delete) !important;
}