<div *ngIf="vm$ | async as vm">
    <mat-card *ngFor="let translation of vm.translationHistory.translations" style="margin: 5px; padding: 5px;">
        <div fxLayout="column">
            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
                    <span style="flex: 1;">
                        Original - {{ (translation.source | languagename: translation.translator) | async }}
                    </span>
                    <i class="pi pi-trash" style="cursor: pointer; color: var(--delete);"></i>
                </div>
                <div>{{ translation.original }}</div>
            </div>
            <div>
                <div class="header">Translation - {{ (translation.target | languagename: translation.translator) | async
                    }} </div>
                <div>{{ translation.result }}</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-betwen center">
                <div fxFlex="50">
                    <div class="header">Translator</div>
                    <div>{{ translation.translator | translator }}</div>
                </div>
                <div fxFlex="50">
                    <div class="header">Timestamp</div>
                    <div>{{ translation.timestamp | datetime }}</div>
                </div>
            </div>
        </div>
    </mat-card>
</div>