<mat-card style="padding: 10px;" fxLayout="column">
    <div fxLayout="row">
        <mat-form-field appearance="outline" style="padding-right: 5px;">
            <mat-label>Source</mat-label>
            <mat-select>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="padding-left: 5px;">
            <mat-label>Target</mat-label>
            <mat-select>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
        <input matInput type="text" />
    </mat-form-field>
</mat-card>
