<mat-card style="margin: 5px; padding: 5px;">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Source</mat-label>
            <mat-select>
                <mat-option *ngFor="let lang of languages$ | async" [value]="lang.code">
                    {{ lang.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Target</mat-label>
            <mat-select>
                <mat-option *ngFor="let lang of languages$ | async" [value]="lang.code">
                    {{ lang.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
        <input matInput type="text" />
    </mat-form-field>
</mat-card>